# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ns-3 related stuf
nsc-0.5.2/
pybindgen-0.15.0.795/
util.py
.config
.*~
.fuse*
*.*~
*pyc
build.py
constants.py
ns-3.13/bindings/
ns-3.13/doc/
ns-3.13/examples/
ns-3.13/ns3/
ns-3.13/utils/
ns-3.13/AUTHORS
ns-3.13/CHANGES.html
ns-3.13/LICENSE
ns-3.13/README
ns-3.13/RELEASE_NOTES
ns-3.13/utils.py
ns-3.13/test.py
ns-3.13/testpy.supp
ns-3.13/VERSION
ns-3.13/waf
ns-3.13/waf.bat
ns-3.13/waf-tools/
ns-3.13/wscript
ns-3.13/wutils.py
